.box {
    width: 210px;
    height: 330px;
    padding: 30px;
    margin: 50px auto;
    border: 10px;
    text-align: center;
    border-radius: 5%;
    background-color:#ADD8E6;

}
input[type="button"] {
    position :static;
    width: 48px;
    height: 42px;
    border-radius: 50px;
    color: rgb(237, 247, 248);
    border-color: black;
    width: 100%;
}
body{
    background-color: rgb(175,165,165);
}
.display {
    height: 42px;
    background-color: rgb(199, 196, 192);
    border-color: black;
    width: 220px;
}
.buts{
    width: 50px;
}
.endl{
    background-color: grey;
}
.endb{
    background-color: rgb(120,120,120);
}
.end{
    
    background-color: rgb(255,165,0);
}