@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.calculator {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input,
button {
  border: none;
  outline: none;
  height: 50px;
}
input {
  width: 321px;
  font-size: 30px;
  margin-bottom: -1px;
  background-color: #333a4d;
  color: #eeeeee;
}
button {
  margin: -1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  background-color: #eeeeee;
  width: 80px;
  color: #333a4d;
}
button:active {
  background-color: #333a4d;
  color: #eeeeee;
}
